
<link href="<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
<link rel="stylesheet" href="app.css">


<h1>WRC</h1>
<h2>World Racing Championship ...The New Era</h2>



<form method="POST" action="/register">
<input type="text" name = "Email" class="form" placeholder="Example@hostname.com">
    
    <button>Lets Race</button>
</form>
<p>Sign up for the Upcoming Event <br> We Already have <strong><%=count%></strong> Racers In Our List around the World</p>